<!DOCTYPE html>
<html lang="en">



<%- include('./partials/head') %>

    <body>
        <% if (locals.user == undefined) { %>
            <%- include('./partials/header') %> 
        <% } else { %>
         <%- include('./partials/headerLogueado')  %>
        <% } %>

            <main>
                <div class="post-detail container">
                    <section class="center main-content post">

                        <% for( let i=0; i < posts.length; i++ ) { %>

                            <div class="info-usuario">
                                <img src="https://via.placeholder.com/40" alt="">
                                <p><a href="/detalleUsuario">
                                        <%= posts[i].nombreUsuario %>

                                    </a></p>
                            </div>
                            <img class="photo" src="<%= posts[i].imagen %>" alt="">
                            <div class="post-comentarios">
                                <h4>Comentarios</h4>
                                <ul>
                                    <% for( let j=0; j < posts[i].comments.length; j++ ) { %>
                                        <li>
                                            <a href="/detalleUsuario">
                                                <%= posts[i].comments[j].nomComent %>
                                            </a>
                                            <span>
                                                <%= posts[i].comments[j].textoComentario %>
                                            </span>
                                        </li>

                                        <% } %>

                                            <a href=" <%='/detallePost/'+ posts[i].id %> ">Ver más...</a>
                                </ul>
                            </div>

                            <% } %>


                                <% %>
                    </section>
                </div>
            </main>

            <footer class="main-footer">
                <%- include('./partials/footer') %>
            </footer>
    </body>

</html>