<!DOCTYPE html>
<html lang="en">



<%- include('./partials/head') %>

    <body>
        <% if (locals.user =! undefined) { %>
            <%- include('./partials/headerLogueado') %> 
        <% } else { %>
         <%- include('./partials/header')  %>
        <% } %>

            <main>
                <div class="post-detail container">
                    <section class="center main-content post">
                        <div class="info-usuario">
                            <img src="<%= %>" alt="" class="fotoPerfil">
                            <p><a href="/users/detalle/<%= posts.idUser %>"><%= posts.nombreUsuario %></a></p>
                        </div>
                        <img class="photo" src=<%= posts.imagen %> alt="">
                    </section>
                    
                    
                    <section class="right">
                        <h4 class="h4-detalle">Comentarios</h4>
                        <section class="comments">
                            <form action="" class="comment-form">
                                <input type="text" class="input" placeholder="Agregar comentario">
                                <button type="submit">Comentar</button>
                                <button type="editar">Editar</button>
                                <% if (locals.user != undefined && locals.user.id == posts.idUser){%>
                                <button type="delete">Eliminar</button>
                                <% }%>
                            </form>
                            <div>
                       <% for( let i = 0; i < posts.comentarios; i++ ) { %>        
                                <article class="comment">
                                        <img src="<%= posts.comentarios[i].fotoDePer %>" alt="" class="fotoPerfil">
                                    <ul class="content">
                                        <a class="user" href="/users/detalle/<%= posts.comentarios[i].idUser %>"><%= posts.comentarios[i].nomComent %></a>
                                        <span class="text"> <%= posts.comentarios[i].textoComentario %></span>
                                    </ul>
                                </article>
                                <% } %>
                            </div>
                        </section>
                    </section>
                    
                </div>
            </main>

            <footer class="main-footer">
                <%- include('./partials/footer') %>
            </footer>
    </body>

</html>