<!DOCTYPE html>
<html lang="en">



    <%- include('./partials/head') %>
<body>
    <% if (locals.user != undefined) { %>
        <%- include('./partials/headerLogueado') %> 
    <% } else { %>
     <%- include('./partials/header')  %>
    <% } %>
    
    <main>
        <div class="user-detail container">
            <section class="top main-content">
                <img class="profile" src="<%= usuario.fotoPerfil %>" alt="">
                <div class="info-usuario">
                    <p> <%= usuario.usuario %> </p> 
                    <a class="follow" href="">seguir</a>
                    <ul class="meta">
                        <li><%= usuario.posteo.length %> posteos</li>
                        <li>1856 seguidores</li>
                        <li>357 seguidos</li>
                    </ul>
                </div>
            </section>
            <section class="bottom">
                <article class="post">
                    <% for( let i = 0; i < usuario.posteo.length; i++ ) { %>
                        <a href="/posts/detalle/<%= usuario.posteo.id %>" >
                            <img src="<%= usuario.posteo[i].nombreImagen %>" alt="">
                        </a>
                        <% } %>
                </article>
       
            </section>
        </div>
    </main>

    <footer class="main-footer">
        <%- include('./partials/footer') %>
    </footer>
</body>

</html>