<!DOCTYPE html>
<html lang="en">



<%- include('./partials/head') %>

    <body>
        <% if (locals.user =! undefined) { %>
            <%- include('./partials/headerLogueado') %> 
        <% } else { %>
         <%- include('./partials/header')  %>
        <% } %>

            <main>
                <div class="post-detail container">
                    <section class="center main-content post">
                        <div class="info-usuario">
                            <img src="<%=posts.usuario%>" alt="" class="fotoPerfil">
                            <p><a href="/users/detalle/<%= posts.idUser %>"><%= posts.usuario %></a></p>
                        </div>
                        <img class="photo" src="<%= posts.nombreImagen %>" alt="">
                    </section>
                    
                    
                    <section class="right">
                        <h4 class="h4-detalle">Comentarios</h4>
                        <section class="comments">
                            <form action="/posts/editar/<%= posts.id%>" class="comment-form">
                                <input type="text" class="input" placeholder="Agregar comentario">
                               <button type="submit">Comentar</button>
                               
                               <button type="sumbit" class="editP">Editar</button>

                                <% if (locals.user != undefined && locals.user.id == posts.idUser){%>
                                <button class=""type="delete">Eliminar</button>
                                <% }%>
                            </form>
                            <div>
                       <% for( let i = 0; i < posts.comentario.length; i++ ) { %>        
                                <article class="comment">
                                    <ul class="content">
                                        <a class="user" href="/users/detalle/<%= posts.comentario[i].usuario.id %>"><%= posts.comentario[i].usuario.usuario %></a>
                                        <span class="text"> <%= posts.comentario[i].textoComentario %></span>
                                    </ul>
                                </article>
                                <% } %>
                                
                                <% for( let j = 0; j < posts.comentario.length; j++ ) { %>        
                                    <article class="comment">
                                        <ul class="content">
                                            <a class="user" href="/users/detalle/<%= posts.comentario[j].usuarioId %>"><%= posts.comentario[j].usuario.usuario %></a>
                                            <span class="text">: <%= posts.comentario[j].textoComentario %></span>
                                        </ul>
                                    </article>
                                    <% } %>

                            </div>
                        </section>
                    </section>
                    
                </div>
            </main>

            <footer class="main-footer">
                <%- include('./partials/footer') %>
            </footer>
    </body>

</html>