<!DOCTYPE html>
<html lang="en">



<%- include('./partials/head') %>

    <body>
        <% if (locals.user != undefined) { %>
            <%- include('./partials/headerLogueado') %> 
        <% } else { %>
         <%- include('./partials/header')  %>
        <% } %>

            <main>
                <div class="post-detail container">
                    <section class="center main-content post">
                        <div class="info-usuario">
                            <img src="<%=posts.usuario.fotoPerfil%>" alt="" class="fotoPerfil">
                            <p><a href="/users/detalle/<%= posts.idUser %>"><%= posts.usuario.usuario %></a></p>
                            
                            <p><a href="/users/detalle/<%= posts.idUsuario %>"><%= posts.usuario.usuario %></a></p>

                        </div>
                        <img class="photo" src="<%= posts.nombreImagen %>" alt="">
                    </section>
                    
                    
                    <section class="right">
                        <h4 class="h4-detalle">Comentarios</h4>
                        <section class="comments">
                            <form action="/posts/comentar" class="comment-form" class="form" method="POST">
                                <input type="hidden" name="idPost" value="<%= posts.id %>">
                                <input class="form-input" name="textoComentario" type="text" value=""
                                    placeholder="Agregar comentario">
                                <button type="submit">Comentar</button>
                            </form>

                            <% if ( locals.user ) { %>
                                <% if ( locals.user.id === posts.usuario.id ) { %>
                                    <p class="comment-form">
                                        <a href="/posts/editar/<%= posts.id %>">Editar</a>

                                        <form action="/posts/borrar/<%= posts.id %>" class="comment-form" method="POST">
                                            <input type="hidden" name="idUser" value="<%= posts.usuario.id %>">
                                            <button type="submit">Eliminar</button>
                                        </form>
                                    </p>
                                <% } %>
                            <% } %>
                            <div>
                       <% for( let i = 0; i < posts.comentario.length; i++ ) { %>        
                                <article class="comment">
                                    <ul class="content">
                                        <a class="user" href="/users/detalle/<%= posts.comentario[i].usuario.id %>"><%= posts.comentario[i].usuario.usuario %></a>
                                        <span class="text"> <%= posts.comentario[i].textoComentario %></span>
                                    </ul>
                                </article>
                                <% } %>
                            </div>
                        </section>
                    </section>
                    
                </div>
            </main>

            <footer class="main-footer">
                <%- include('./partials/footer') %>
            </footer>
    </body>

</html>