<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>
        <% if (locals.user =! undefined) { %>
            <%- include('./partials/headerLogueado') %> 
        <% } else { %>
         <%- include('./partials/header')  %>
        <% } %>


            <main>
                <section class="center main-content">
                    <div class="edit-product-container">
                        <h1>Editar Posteo</h1>
                    
                        <form action="/posts/editar/<%= posts.id %>" method="post">
                            <div>
                                <label for="descripcionPost">Descripción del posteo:</label>
                                <input type="text" id="descripcionPost" name="descripcionPost" value="<%= posts.textoDescriptivo %>" placeholder="Descripcion del posteo" required>
                            </div>
                            <div>
                                <label for="imagenPerfil">Foto del posteo:</label>
                                <input type="text" id="imagenPerfil" name="imagenPerfil" value="<%= posts.nombreImagen %>" placeholder="Foto del posteo" required>
                            </div>
                            <input type="submit" value="EDITAR POSTEO">
                        </form>
                    </div>   
                
                </section>
            </main>

            <footer class="main-footer">
                <%- include('./partials/footer') %>
            </footer>

    </body>

</html>