<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>
        <% if (locals.user == undefined) { %>
            <%- include('./partials/header') %> 
        <% } else { %>
         <%- include('./partials/headerLogueado')  %>
        <% } %>

            <main>
                <section class="center main-content">
                    <% for (let i = 0; i < posts.length; i++) { %>
                        <article class="post">
                            <div class="info-usuario">
                                <img  class="info-usuario img" src="<%=posts[i].usuario.fotoPerfil %>" alt="">
                                <h4>
                                    <a href="/users/detalle/<%= posts[i].usuario.id %>">
                                        <%= posts[i].usuario.usuario %>
                                    </a>
                                </h4>
                            </div>
                            <div class="post-body">
                                <a href=" <%='posts/detallePost/'+ posts[i].id %> ">
                                    <img src="<%= posts[i].nombreImagen %>" alt="" >
                                </a>
                            </div>
                            <ul class="post-reacciones">
                                <li>
                                    <i class="fa-regular fa-heart"></i>
                                </li>
                                <li>
                                    <i class="fa-regular fa-comment"></i>
                                </li>
                            </ul>
                            <div class="post-comentarios">
                                <p><h3 class="textoDescriptivo"><%= posts[i].usuario.usuario %>: <%= posts[i].textoDescriptivo %></h3></p>
                                <h4>Comentarios</h4>
                                <ul>
                                    <% for( let j = 0; j < posts[i].comentario.length; j++ ) { %>
                                        <li>
                                            <a href="/users/detalle/<%=posts[i].comentario[j].idUsuario  %>"><%= posts[i].comentario[j].usuario.usuario %></a>
                                            <span><%= posts[i].comentario[j].textoComentario %></span>
                                        </li>
                                    
                                    <% } %>
                                    
                                    <a href=" <%='posts/detallePost/'+ posts[i].id %> ">Ver más...</a>
                                </ul>
                            </div>
                        </article>

                        <% } %>


                </section>
            </main>

            <footer class="main-footer">
                <%- include('./partials/footer') %>
            </footer>

    </body>

</html>