<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>
        <% if (locals.user == undefined) { %>
            <%- include('./partials/headerLogueado') %> 
        <% } else { %>
         <%- include('./partials/header')  %>
        <% } %>

            <main>
                <section class="center main-content">
                    <% for (let i = 0; i < posts.length; i++) { %>
                        <article class="post">
                            <div class="info-usuario ">
                                <img src="<%=  %>" alt="">
                                <h4>
                                    <a href="/detalleUsuario">
                                        <%= posts[i].nombreUsuario %>
                                    </a>
                                </h4>
                            </div>
                            <div class="post-body">
                                <a href=" <%='/detallePost/'+ posts[i].id %> ">
                                    <img src="<%= posts[i].imagen %>" alt="" >
                                </a>
                            </div>
                            <ul class="post-reacciones">
                                <li>
                                    <i class="fa-regular fa-heart"></i>
                                </li>
                                <li>
                                    <i class="fa-regular fa-comment"></i>
                                </li>
                            </ul>
                            <div class="post-comentarios">
                                <h4>Comentarios</h4>
                                <ul>
                                    <% for( let j = 0; j < posts[i].comments.length; j++ ) { %>
                                        <li>
                                            <a href="/detalleUsuario"><%= posts[i].comments[j].nomComent %></a>
                                            <span><%= posts[i].comments[j].textoComentario %></span>
                                        </li>
                                    
                                    <% } %>
                                    
                                    <a href=" <%='/detallePost/'+ posts[i].id %> ">Ver más...</a>
                                </ul>
                            </div>
                        </article>

                        <% } %>


                </section>
            </main>

            <footer class="main-footer">
                <%- include('./partials/footer') %>
            </footer>

    </body>

</html>