<!DOCTYPE html>
<html lang="en">


    <%- include('./partials/head') %>
    <body>
    <%- include('./partials/headerLogueado') %>
    
    <main>
        <div class="user-detail container">
            <section class="top main-content">
                <img class="profile" src="https://via.placeholder.com/100x100" alt="">
                <div class="info-usuario">
                    <p><%= usuario.nombreUsuario %></p> 
                    <a class="follow" href="editarPerfil"><i class="fa-solid fa-user-gear"></i></a>
                    <ul class="meta">
                        <li>2 post</li>
                        <li>1856 seguidores</li>
                        <li>357 seguidos</li>
                    </ul>
                </div>
               
                <% for( let i = 0; i < usuario.length; i++ ) { %>
                </section>
                <section class="bottom">
    
                    <article class="post">
                        <a href="/detallePost">
                            <img src=",<%= usuario[i].imagen %>" alt="">
                        </a>
                    </article>
        </div>
        <% } %>
    </main>

    <footer class="main-footer">
        <%- include('./partials/footer') %>
    </footer>
</body>

</html>

