<!DOCTYPE html>
<html lang="en">


    <%- include('./partials/head') %>
    <body>
    <%- include('./partials/headerLogueado') %>
    
    <main>
        <div class="user-detail container">
            <section class="top main-content">
                <img class="profile" src="<%= datos.fotoPerfil %>" alt="">
                <div class="info-usuario">
                    <p><%= datos.usuario %></p> 
                    <a class="follow" href="editarPerfil"><i class="fa-solid fa-user-gear"></i></a>
                    <ul class="meta">
                        <li> <%=datos.posteo.length %> posts </li>
                        <li>1856 seguidores</li>
                        <li>357 seguidos</li>
                    </ul>
                </div>
               
                <% for( let i = 0; i < datos.posteo.length; i++ ) { %>
                </section>
                <section class="bottom">
    
                    <article class="post">
<<<<<<< HEAD
                        <a href="<%'posts/detallePost/'+ datos.posteo[i].id%>">
=======
                        <a href="<%'/detallePost/'+ datos.posteo[i]%>">
>>>>>>> 8ace60b8be854af3fcf793df9217f7126928d7a9
                            <img src="<%= datos.posteo[i].nombreImagen%>" alt="">
                        </a>
                    </article>
        </div>
        <% } %>
    </main>

    <footer class="main-footer">
        <%- include('./partials/footer') %>
    </footer>
</body>

</html>

