<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>
<body>
    <% if (locals.user == undefined) { %>
        <%- include('./partials/headerLogueado') %> 
    <% } else { %>
     <%- include('./partials/header')  %>
    <% } %>
    
   
    <main>
        <main>
            <section class="center main-content">
                
                <% for( let i = 0; i < datos.length; i++ ) { %>
                
                <article class="post">
                    <div class="info-usuario ">
                        
                        <img src="<%= datos[i].usuario.fotoPerfil %>" alt="" class="fotoPerfil">
                        
                        <h4>
                            <a href="usuarios/detalle/<%= datos[i].idUsuario %>"><%= datos[i].usuario.usuario %></a>
                        </h4>
                    </div>
                    <div class="post-body">
                        <a href="/posteos/detalle/<%= datos[i].id %>">
                            <img src= <%= datos[i].nombreImagen %> alt="">
                        </a>
                    </div>
                    <ul class="post-reacciones">
                        <li>
                            <i class="fa-regular fa-heart"></i>
                        </li>
                        <li>
                            <i class="fa-regular fa-comment"></i>
                        </li>
                    </ul>
    
    
                    <div class="post-comentarios">
                        <p><h3 class="textoDescriptivo"><%= datos[i].usuario.usuario %>: <%= datos[i].textoDescriptivo %></h3></p>
                        <h4>Comentarios</h4>
                        <ul>
    
                            <% for( let j = 0; j < datos[i].comentario.length; j++ ) { %>
                              
                                <li>
                                    <a href="/usuarios/detalle/<%= datos[i].comentario[j].idUsuario %>"><%= datos[i].comentario[j].usuario.usuario %> :</a>
                                    <span><%= datos[i].comentario[j].textoComentario %></span>
                                </li>
    
                            <% } %>
    
                            <a href="/posteos/detalle/<%= datos[i].id %>">Ver más...</a>
    
                        </ul>
                    </div>
                    
                </article>
    
                <% } %>
    
            </section>    
        </main>
    <footer class="main-footer">
        <%- include('./partials/footer') %>
    </footer>

</body>

</html>