<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>
<body>
    <% if (locals.user =! undefined) { %>
        <%- include('./partials/headerLogueado') %> 
    <% } else { %>
     <%- include('./partials/header')  %>
    <% } %>
    
   
    <main>
        <div class="user-detail container">
            <h1>Resultados de búsqueda</h1>
            <section class="bottom">
                <% if (post.length> 0) { %>
                    <% for ( let i=0 ; i < post.length; i++) { %>
                        <div>
                            <section>


                                <figure>
                                    <a href="/posts/detalle/<%=post[i].id%>">
                                        <img src="<%=post[i].nombreImagen%>"
                                            alt="Imagen de <%post[i].textoDescriptivo%>"> </a>
                                </figure>
                                <article>

                                    <a href="/users/detalle/<%= post[i].usuario.idUsuario%>">
                                        Subido por: <%= post[i].usuario.usuario %>
                                    </a>

                                </article>

                            </section>
                        </div>
                        <% } %>
                            <% } else { %>
                                <h1>No encontramos coincidencias con tu busqueda</h1>
                                <% } %>


            </section>
        </div>
        </main>
    <footer class="main-footer">
        <%- include('./partials/footer') %>
    </footer>

</body>

</html>